/*Nombre proyecto> carpeta> subcxarpeta> new item> Hoja style.css*/


body {
    background-image: url('~/Images/imagen_fondo.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.custom-btn {
    /* Agrega aquí tus estilos personalizados */
    background-color: #ff9900; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border: 2px solid #ff9900; /* Cambia el borde */
    /* Agrega más estilos según tus preferencias */
}

h5{
    text-align:center;
}

h1 {
    font-family: 'Sans Serif Collection';
    
}

