/*Nombre proyecto> carpeta> subcxarpeta> new item> Hoja style.css*/


body {
    background-image: url('../Images/imagen_fondo.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position:relative;
}


.custom-btn {
    /* Agrega aquí tus estilos personalizados */
    background-color: #ff9900; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border: 2px solid #ff9900; /* Cambia el borde */
    /* Agrega más estilos según tus preferencias */
}

h5{
    text-align:center;/*Posicion Texto*/
}

h1 {
    font-family: 'Sans Serif Collection';/*Tipo Letra*/
    
}

.fixed-footer {
    position: absolute;
    bottom: 0;
    left:calc(30% - 50px)
}

/* Estilos para la tabla */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 14px;
}

    .styled-table th, .styled-table td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd; /* Encabezado */
    }

    .styled-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .styled-table tbody tr:hover {
        background-color: #ddd;
    }

    /* Estilos para la primera columna */
    .styled-table th:first-child, .styled-table td:first-child {
        font-weight: bold;
    }


.card{
    padding:20px;

}

.row{
    justify-content:center;


}

h2 {
    text-align: center;
    font-family: 'Sans Serif Collection'; /*Tipo Letra*/
}