/*Nombre proyecto> carpeta> subcxarpeta> new item> Hoja style.css*/


body {
    background-color:#ffffff;
}


.custom-btn {
    /* Agrega aquí tus estilos personalizados */
    background-color: #ff9900; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border: 2px solid #ff9900; /* Cambia el borde */
    /* Agrega más estilos según tus preferencias */
}
