/*Nombre proyecto> carpeta> subcxarpeta> new item> Hoja style.css*/


body {
    background-color:#ff0000;
}


.btn{
    /*¨Color de fondo del boton*/
    background-color:none;
    /*Medidas son: arriba-derecha-abajo-izquierda // tipo de borde // y color*/
    border:1px 1px 0px 1px solid #000000;
}
